*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --header-background: rgb(249, 249, 251);
  --header-bottom: rgb(232, 236, 243);
  --header-color: rgb(103, 112, 126);

  --body-background: #fff;
  --text-color: rgb(36, 30, 30);
}

[data-theme='dark'] {
  --header-background: rgb(34, 37, 42);
  --header-bottom: rgb(46, 50, 56);
  --header-color: rgb(143, 151, 163);

  --body-background: #181818;
  --text-color: #ddd;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
