*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
}

:root {
  --header-background: rgb(249, 249, 251);
  --header-bottom: rgb(232, 236, 243);
  --header-color: rgb(103, 112, 126);
}

[data-theme='dark'] {
  --header-background: rgb(34, 37, 42);
  --header-bottom: rgb(46, 50, 56);
  --header-color: rgb(143, 151, 163);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
